<style>
body {
  background-color: linen;
}

h1 {
  color: red;
  text-align: center;
} 
</style>


<body>

<h1>Ruby on Rails</h1>

<%= link_to 'My Articles', articles_path %>

</body>



