<style>
body {
  background-color: linen;
}

h1 {
  color: maroon;
  text-align: center;
} 
</style>


<body>

<h1>Hello, Rails!</h1>

<%= link_to 'My Articles', articles_path %>

</body>

